@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }
html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size : 1em;
	font-family: Lato, sans-serif;
	line-height: 1.3em;
	background-color: #fed757;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}

h3{
	text-align: center;
	font-size: 1.7em;
	color: #000;
	text-shadow:  4px 4px 10px black;
	margin:4%;
}

header{
	text-align: center;
	padding-top: 1em;
}

header h1{
	height: 1em;
	position: absolute;
	top: -150px;
	left:.5px;
	font-size: 9.5em;
	text-shadow:  4px 4px 10px white;
	font-family: libre Baskerville, sans-serif;
}

.top{
	background-image: url(../images/IFVG23.jpg);
	margin: 0 10%;
	padding: 8.5em;
	background-size: cover;
}

.desc div{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
strong{
	text-align: center;
	font-size: 1em;
	color: #000;
	text-shadow:  4px 4px 10px white;
	position: relative;
	bottom:80px;
	left:152px;
}
.desc{
	padding: 0;
}


main img{
	width: 100%;
}

h2{
	text-align: center;
	font-size: 1.7em;
  color: #000;
	text-shadow:  4px 4px 10px black;
	margin:4%;
}

footer{
	padding:0 5%;
}


@media only screen and (min-width: 20em){

.top p{
	top: -8rem;
}
.top {
	padding: 2em 3.5em;
	margin: 0 -6%;
}

header h1{
	margin: 0em 2.2em;
	height: 1em;
  font-size: 110%;
}
main{
	padding:0 5% 5% 5%;
}
h2{
	font-size: 1.7em;
}

.img{
	background-image: url(../images/IFVG23.jpg);
	margin: 0 -4%;
	padding: 7.5em;
	background-size: cover;
}

.desc div{
	width: 32%;
	text-align: center;
}

h3{
  color: #000;

}

}

@media only screen and (min-width: 35em){
  main{
    float: right;
    width: 70%;}
    footer {
      float: right;
      width: 70%;
    }
  header {
  width:100%;
  }

  .top p{
  top: -8rem;
  }
  .top {
  padding: 2em 3.5em;
  margin: 0;
  }

  header img{
  width: 125px;
  position: relative;
  text-align: center;

	}

  header h1{
  display: inline;
  height: 5em;
  margin: 2em 0 0 0;
  margin-top: 2.35em;
  }
  header nav li {
  margin-left: 5%;
  }

.divider1{
width: 47%;
margin: 0;
float: left;
clear: left;
}
.divider2{
width: 47%;
margin: 0;
float: right;
}
.divider3{
width: 47%;
margin: 0;
float: left;
margin-left: 26.5%;
}
footer nav a{
	display: inline;
	width: 20%;
	float: left;
	padding: .5em;
	text-align: center;
}
footer nav a {
	display: inline;
	padding: .5em;
	text-align: left;
}
footer nav ol{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
footer nav{
	background-color: #212c59;
	display: inline;
	width: 100%;
	margin-top: 0;
}

footer {
padding: 0;}
.fr{
	padding: 0 4%;
}

.desc div{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.desc{
	padding: 0;
}

@media only screen and (min-width: 72em){
  main{
    float: right;
    width: 70%;}
    footer {
      float: right;
      width: 70%;
    }
  header {
  width:100%;
  position: relative;
  }

  header img{
  width: 125px;
  position: relative;
  text-align: center;

	}

  header h1{
  display: inline;
  height: 5em;
  margin: 2em 0 0 0;
  margin-top: 2.35em;
  }

	.fr{
		width: 100%;
		background-color: #410098;
		text-align: center;
		padding: .5em;
		margin-bottom: 2em;
		border-radius: 0.25em;
	}
	.fr a{
		text-decoration: none;
		color: white;
	}

.divider1{
width: 40%;
margin: 0;
float: left;
}
.divider2{
width: 40%;
margin: 0;
float: left;
}
.divider3{
width: 23%;
margin: 0;
float: left;
}
.divider4{
width: 23%;
margin: 0;
float: left;
}

footer nav a{
	display: inline;
	width: 20%;
	float: left;
	padding: .5em;
	text-align: center;
}
footer nav a {
	display: inline;
	padding: .5em;
	text-align: left;
}
footer nav ol{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
footer nav{
	background-color: #212c59;
	display: inline;
	width: 100%;
	margin-top: 0;
}

footer {
padding: 0;}
.fr{
	padding: 0 4%;
}

.desc div{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.desc{
	padding: 0;
}

}

*/style all the small screen stuff here*/

h3  {
font-size: 1.7rem;
}

header{
		padding:1em;
}

main{
 padding: 1em;
}

@media only screen and (min-width: 72em){
	html{
		font-size: 150%;
		line-height: 1.3rem;
	}
	}

	main{
		float: right;
		width: 70%;}
		footer {
			float: right;
			width: 70%;
		}
.top p{
	top: -8rem;
}
.top {
	padding: 2em 3.5em;
	margin: 0 ;
}

header img{
	width: 105px;
	position: relative;
	text-align: center;
	left: calc(50% - 52.5px);
}

header h1{
	display: inline;
	height: 4em;
	margin: 2em 0 0 0;
	margin-top: 2.35em;
}

}

@media only screen and (min-width: 72em){
	html{
		font-size: 150%;
		line-height: 1.3rem;
	}
	}

	main{
		float: right;
		width: 70%;}
		footer {
			float: right;
			width: 70%;
		}
header {
	width:30%;
	float: left;
	position: fixed;
}
.top p{
	top: -8rem;
}
.top {
	padding: 2em 3.5em;
	margin: 0 ;
}

header img{
	width: 105px;
	position: relative;
	text-align: center;
	left: calc(50% - 52.5px);
}

header h1{
	display: inline-block;
	height: 4em;
	margin: 2em 0 0 0;
	margin-top: 2.35em;
}

header nav li {
margin-left: 5%;
}
}




@media print {

  nav {
    display: none;
  }

  main a::after{
    content: " (" attr(href) ")";
    color: #999;
  }

}
