@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }
html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size : 1em;
	font-family: raleway, sans-serif;
	line-height: 1;
	background-color: #8b79a4;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
header{
	text-align: center;
	padding-top: 1em;
}
header img{
	width: 125px;
	position: absolute;
	text-align: center;
  left: calc(50% - 52.5px);
}
header h1{
	display: block;
	height: 2.5em;
	margin: 2em 0 0 0;
}
header nav li {
	list-style-type: none;
}
header nav a {
	display: inline;
	padding: .5em;
	text-align: center;
}
header nav ol{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
header nav{
	background-color: #993ebd;
	margin-top: 1em;
}
header a{
	text-decoration: none;
	color: white;
}
.top {
	background-image: url(../images/maerten.jpg);
	margin: 0 -4%;
	padding: 1em;
	background-size: cover;
}
.top p{
	top: -6rem;
	color: white;
	text-align: center;
	width: 100%;
	text-shadow: 4px 4px 10px white;
	margin: 0 auto;
	max-width: 25rem;
}
.desc div{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.desc{
	padding: 0;
}
.desc dt{
	font-weight: bold;
}
.desc dl, .desc dd{
	margin: 0;
}
main{
	padding:0 3% 3% 3%;
}
main img{
	width: 100%;
}
h2{
	text-align: center;
	font-size: 1.3em;
  color: #410098;
}
.learn{
	width: 100%;
	background-color: #410098;
	text-align: center;
	padding: .5em;
	margin-bottom: 2em;
	border-radius: 0.25em;
}
.learn a{
	text-decoration: none;
	color: white;
}
.button {
	background-color: #410098;
  border-radius: 0.5em;
	padding: .4em;
	color: white;
	position: relative;
	width: 30%;
	text-align: center;
	left: 33%;
}
.price{
	width: 100%;
	text-align: center;
}
.price div{
	background-color: #410098;
	padding: 1em 1em;
	margin: 0.25em 0;
	width: 100%;
	display: inline-block;
	border-radius: 0.25em;
}
.price a{
	text-decoration: none;
	color: white;
}
footer{
	padding:0 5%;
}
main li{
	display: inline;
}
.top2{
	background-image: url(../images/Maroti.jpg);
	margin: 0 -4%;
	padding: 3.9em;
	background-size: cover;
	color: black;
	text-align: center;
	width: 108%;
	text-shadow: 1px 2px 1px white;
}
.playing{
	width: 100%;
	background-color: black;
	text-align: center;
	padding: .5em;
	margin-bottom: 0;
	margin-left: 0%;
	color: white;
	margin-top:2em;
}
.pr{
	text-align: center;
}
.pr p{
	max-width: 35rem;
	margin: .5em auto;
}
.button2{
	display: inline;
	background-color: #410098;
	border-radius: 0.5em;
	padding: .4em;
	color: white;
	position: relative;
	text-shadow: none;
}
main a{
	text-decoration: none;
}
.days ol{
	width: 95%;
	margin: 0;
	padding: 0;
}
footer li{
	display: inherit;
}
footer ul{
	padding: 0;
}
footer ol{
	display: block;
	padding: 0;
}
footer p{
	margin:0;
}
footer a{
	color: #410098;
}
@media only screen and (min-width: 20em){
header nav a{
	display: inline;
	width: 25%;
	float: left;
	padding: .5em;
	text-align: center;
  font-size: 110%;
}
.top p{
	top: -8rem;
}
.top {
	padding: 2em 3.5em;
	margin: 0 -6%;
}
.button{
	display: inline;
	color: white;
	position: absolute;
	top: .8em;
	right: .35em;
	left: 79%;
	width: auto;
	padding: 0.25em .75em;
	left: auto;
}
header img{
	width: 85px;
	top: .4em;
	left: .25em;
}
header h1{
	margin: 0em 2.2em;
	height: 1em;
  font-size: 110%;
}
main{
	padding:0 5% 5% 5%;
}
h2{
	font-size: 1.5em;
}
.desc div{
	width: 32%;
	text-align: center;
}
.days ol{
	width: 55%;
  text-align: left;
}
.price div{
	margin: 0 2.5%;
	width: 44%;
}
.top2 {
    margin: 0%;
    width: 100%;
}

h3{
  color: #410098;

}
}


@media only screen and (min-width: 35em){

html{
	font-size: 110%;
	line-height: 1.4;
}

@media only screen and (min-width: 50em){
  main{
    float: right;
    width: 70%;}
    footer {
      float: right;
      width: 70%;
    }
  header {
  width:30%;
  float: left;
  position: relative;
  }

  header nav a{
  display: inline;
  padding: .5em;
  text-align: left;
  float: none;
  }
  .top p{
  top: -8rem;
  }
  .top {
  padding: 2em 3.5em;
  margin: 0;
  }
  .button{
		display: block;
 position: relative;
 top: 1.35em;
 right: 1em;
 left: 79%;
 width: auto;
 padding: 0.25em .75em;
 left: auto;
}

  header img{
  width: 125px;
  position: absolute;
  text-align: center;
  left: calc(50% - 52.5px);
  }
  .top2{
  width: 100%;
  }

  header h1{
  display: inline-block;
  height: 4em;
  margin: 2em 0 0 0;
  margin-top: 2.35em;
  }
  header nav li {
  margin-left: 5%;
  }

.divider1{
width: 47%;
margin: 0;
float: left;
clear: left;
}
.divider2{
width: 47%;
margin: 0;
float: right;
}
.divider3{
width: 47%;
margin: 0;
float: left;
margin-left: 26.5%;
}
h2 {
	clear: both;
}
footer nav a{
	display: inline;
	width: 20%;
	float: left;
	padding: .5em;
	text-align: center;
}
footer nav a {
	display: block;
	padding: .5em;
	text-align: left;
}
footer nav ol{
	margin: 0;
	padding: 0;
	overflow: hidden;
}
footer nav{
	background-color: #212c59;
	display: inline-block;
	width: 100%;
	margin-top: 0;
}
footer nav a{
	text-decoration: none;
	color: white;
	text-align: center;
}
footer {
padding: 0;}
.fr{
	padding: 0 4%;
}
footer nav ul{
	padding: 0 2em;
	margin: 0;
}

.desc div{
	display: inline-block;
	width: 100%;
	vertical-align: top;
}
.desc{
	padding: 0;
}
.desc dt{
	font-weight: bold;
}
.desc dl, .desc dd{
	margin: 0;
}

}

*/style all the small screen stuff here*/

h3 + dt {
font-size: 1.2rem;
}

header{
	  background-color: #9a78b6;
		padding:1em;
}

main{
	background-color: #878fc7;
 padding: 1em;
}

@media only screen and (min-width: 60em){
html{
	font-size: 120%;
	line-height: 1.3;
}
}

@media only screen and (min-width: 72em){
	html{
		font-size: 150%;
		line-height: 1.3;
	}
	}

	main{
		float: right;
		width: 70%;}
		footer {
			float: right;
			width: 70%;
		}
header {
	width:30%;
	float: left;
	position: fixed;
}

header nav a{
	display: inline;
	padding: .5em;
	text-align: left;
	float: none;
}
.top p{
	top: -8rem;
}
.top {
	padding: 2em 3.5em;
	margin: 0 ;
}

header img{
	width: 105px;
	position: absolute;
	text-align: center;
	left: calc(50% - 52.5px);
}
.top2{
	width: 100%;
}

.button{
display: block;
color: white;
position: relative;
top: .8em;
right: auto;
width: auto;
padding: 0.55em .95em;
}

header h1{
	display: inline-block;
	height: 4em;
	margin: 2em 0 0 0;
	margin-top: 2.35em;
}

header nav li {
margin-left: 5%;
}
}



@media print {

  nav {
    display: none;
  }

  main a::after{
    content: " (" attr(href) ")";
    color: #999;
  }

}
