@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }
html{
	box-sizing: border-box;
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	font-size : 100%;
	font-family: Lato, sans-serif;
	line-height: 1.3em;
	background-color: #18d4c6;
}
*, *::before, *::after{
	box-sizing: inherit;
}
body{
	margin: 0;
}
.img {
	background-image: url('../images/IFVG23.jpg');
	height: 14.4rem;
	margin: 1.3rem;
	background-size: cover;
	background-position: 0;
}
h1 {
	font-weight: normal;
	line-height: 1.3rem;
	margin: 1.3rem;
	height: 1em;
	top: 108px;
	left:106px;
  position: absolute;
	font-size: 7rem;
	text-shadow:  4px 4px 10px black;
	font-family: libre Baskerville, sans-serif;
	color: #fff;
}
strong{
	text-align: center;
	font-size: 1em;
	color: #000;
	text-shadow:  4px 4px 10px white;
	position: relative;
	bottom:79px;
	left:123px;
}

h2{
	text-align: center;
	font-size: 1.7em;
  color: #fff;
	text-shadow:  4px 4px 10px black;

}

h3{
	text-align: center;
	font-size: 1.7em;
	color: #fff;
	text-shadow:  4px 4px 10px black;
	margin:4%;
}
.desc div{
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.desc{
	padding: 0;
}
.desc dt{
	font-weight: bold;
}
.desc dl, .desc dd{
	margin: 0;
}

main{
	padding:0 3% 3% 3%;
}
main img{
	width: 100%;
}
main p{
	margin: 0 1.3rem 1.3rem 1.3rem;
}
.margin{
	margin: 0 1rem;
	width: 100%;
	background-color: #77dfd4;
	text-align: center;
	padding: .2em;
	margin-bottom: 2em;
	color:#000;
}

ul li {
float:left;
display:block;
}

.insta {
  width: 85%;
  margin: 1em 1em 2em 3em;
  float: left;
	position: absolute;
	top:1582px;
	left:15px;
}

.tumblr {
  width: 35%;
  margin: 1em 3em 2em 1em;
  float: right;
	position: absolute;
	top:1685px;
	left:98px;
}


.linked-in {
  width: 45%;
  margin: 1em 3em 2em 1em;
  float: right;
	position: absolute;
	top:1689px;
	left:23px;
}


h3{
	text-align: center;
	font-size: 1.7em;
	color: #fff;
	text-shadow:  4px 4px 10px black;
	position: relative;
	margin:4%;
}


.learn{
	width: 100%;
	background-color: #7adbd5;
	text-align: center;
	padding: .2em;
	margin-bottom: 2em;
	border-radius: 0.25em;
}
.learn a{
	text-decoration: none;
	color: white;
}

.learn2{
	width: 100%;
	background-color: #7adbd5;
	text-align: center;
	padding: .2em;
	margin-bottom: 2em;
	border-radius: 0.25em;
}
.learn2 a{
	text-decoration: none;
	color: white;
}
h4{
	text-align: center;
	font-size: 1.7em;
	color: #fff;
	text-shadow:  4px 4px 10px black;
	position: relative;
	top:278px;
	right:49px;
	margin:4%;
}
@media only screen and (min-width: 36em){
html{
	font-size: 110%;
	line-height: 1.3;
}
.img {
	background-image: url('../images/IFVG23.jpg');
	height: 22.5rem;
	margin: 1.4rem  20%;
}

strong{
	text-align: center;
	font-size: 1.7em;
	color: #000;
	text-shadow:  5px 5px 10px white;
	position: absolute;
	top:340px;
	left:258px;
}

h1 {
	line-height: 1.3rem;
	margin: 1.4rem 1.4rem 1.4rem 20%;
	position: absolute;
	font-size: 7rem;
	text-shadow:  5px 5px 10px black;
	font-family: libre Baskerville, sans-serif;
	color: #fff;
	top:-10px;
	left:280px;

}

.learn{
	width: 100%;
	background-color: #7adbd5;
	text-align: center;
	padding:.4em;
	border-radius: 0.5em;
	position: absolute;
	bottom: -523px;
}
.learn a{
	text-decoration: none;
	color: white;
}

.learn2{
	width: 100%;
	background-color: #7adbd5;
	text-align: center;
	padding: .2em;
	margin-bottom: 2em;
	position: absolute;
	border-radius: 0.25em;
	bottom: -445px;
}
.learn2 a{
	text-decoration: none;
	color: white;
}

header img{
width: 125px;
text-align: center;
left: calc(50% - 52.5px);
}

header h1{
display: block;
height: 4em;
margin: 2em 0 0 0;
margin-top: 2.35em;
}

.divider1{
	width: 50%;
	margin: 0;
	float: left;
	clear: left;
	}
	.divider2{
	width: 47%;
	margin: 0;
	float: right;
	clear:right;
	}
	.divider3{
	width: 47%;
	margin: 0;
	float:left;
	clear:left;
	}

	.divider4{
	width: 47%;
	margin: 0;
	float: right;
	clear:right;
	}

.desc div{
display: inline-block;
width: 100%;
vertical-align: top;
}

h3{
	text-align: center;
	font-size: 1.7em;
	color: #fff;
	text-shadow:  4px 4px 10px black;
	position: relative;
	top:213px;
	right:49px;
	margin:4%;
}

h4{
	text-align: center;
	font-size: 1.7em;
	color: #fff;
	text-shadow:  4px 4px 10px black;
	position: relative;
	top:265px;
	left:45px;
	margin:4%;
}
.center {
  text-align: center;

}

.social {
  text-decoration: none;
}
.wrapper {
  max-width: 30em;
  margin: 0 auto;
}

footer {
  padding-bottom: 1em;
}

.insta {
  width: 88%;
  margin: 1em 1em 2em 3em;
  float: left;
	position: absolute;
	top:1120px;
	left:15px;
}

.tumblr {
  width: 34%;
  margin: 1em 3em 2em 1em;
  float: right;
	position: absolute;
	top:1298px;
	left:123px;
}


.linked-in {
  width: 45%;
  margin: 1em 3em 2em 1em;
  float: right;
	position: absolute;
	top:1297px;
	left:278px;
}


}

@media only screen and (min-width: 62.5em){
.img {
	background-image: url('../images/IFVG23.jpg');
	height: 18.1rem;
	margin: 0 0 1.5rem 0;
	background-position: 120%;
}
html{
	font-size: 120%;
	line-height: 1.3rem;
}
main p{
	max-width:40em;
	margin: 0 auto 1.5rem auto;
}
h1 {
	line-height: 1.3rem;
	margin: 1.5rem auto 1.5rem auto;
	max-width:40em;
	margin-left: calc(50% - 5.75em);
	font-size: 1.9rem;
	position:relative;
	top: 44px;
}
.margin{
	margin-left: calc(50% - 20em);
}
.button {
	height: 5.4rem;
    width: 14.9rem;
}
.twitter {
	margin: 1.5rem calc(50% - 20em) 0 0;
}
.linkedin {
	margin: 1.5rem auto 0 calc(50% - 20em);
	}
	.divider1{
		width: 10%;
		margin: 0;
		float: left;
		clear: left;
		}
		.divider2{
		width: 20%;
		margin: 0;
		float: left;
		clear:right;
		}
		.divider3{
		width: 10%;
		margin: 0;
		float:right;
		clear:right;
		}

		.divider4{
		width: 10%;
		margin: 0;
		float: right;
		clear:right;
		}

		.learn{
			width: 100%;
			background-color: #7adbd5;
			text-align: center;
			padding: .2em;
			margin-bottom: 2em;
			position: absolute;
			bottom:-456px;
			border-radius: 0.25em;
			position: absolute;
		}
		.learn a{
			text-decoration: none;
			color: white;
		}

		.learn2{
			width: 100%;
			background-color: #7adbd5;
			text-align: center;
			padding: .2em;
			margin-bottom: 2em;
			border-radius: 0.25em;
			position: absolute;
		}
		.learn2 a{
			text-decoration: none;
			color: white;
		}
}
@media print{
.img {
	display: none;
}
main p {
	min-width: 30em;
	img {
width: 78%;
float: left;
}

h1 {
  color: white;
  float: left;
  font-size: 4em;
  margin: 1em;
  position: fixed;
  top: 350px;
}

.p1 {
  float: left;
  width: 50%;
  margin: 1em;
  position: fixed;
  left: 6px;
  bottom: 0px;
}

.p2 {
  float: right;
  width: 50%;
  margin: 1em;
  position: fixed;
  left: 310px;
  bottom: 20px;
}

footer {
  display: none;
}

}
}
}
